---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import HeaderLink from "./HeaderLink.astro";
---

<nav class="flex"">
	<HeaderLink href="https://google.com">google</LocalLink>
	<HeaderLink href="https://yahoo.com">yahoo</LocalLink>
	<a href="https://github.com">github.com</a>
</nav>

<style>
	nav a {
		color: red;
		text-underline: none;
	}
</style>
