---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import LocalLink from "./LocalLink.astro";
---

<nav>
	<LocalLink href="https://google.com">google</LocalLink>
	<a href="https://github.com">github.com</a>
</nav>

<style>
	nav a {
		color: red
	}
</style>
